deployments:
  # List valid deployments to update. These are your webhook endpoints: /myapp?key=xxx etc
  myapp:
    deploy: deploymentname
    image: cool/image1
    key: xxx
    ns: app
    valid_tag: "^(v[0-9.]+|sha-[a-z0-9]+)"
  myotherapp:
    deploy: deploymentname
    image: cool/image2
    key: xxx
    ns: otherapp
    valid_tag: "^(v[0-9.]+|sha-[a-z0-9]+)"
